/*
Lumino Admin Bootstrap Template
Version 1.0
*/


/*Global Styles*/

body {
	background: #f1f4f7;
	padding-top: 50px;
	color: #5f6468;
}

p {
	color: #777;
}

a, a:hover, a:focus {
	color: #30a5ff;
}

h1, h2, h3, h4, h5, h6 {
	color: #5f6468;
}

h1 {
	font-weight: 300;
	font-size: 40px;
}

h2 {
	font-weight: 300;
	margin-bottom: 20px;
}

h3, h4 {
	font-weight: 300;
}

.large {
	font-size: 2em;
}

.text-muted {
	color: #9fadbb;
}

.color-gray { color: #5f6468; }
.color-blue { color: #30a5ff; }
.color-teal { color: #1ebfae; }
.color-orange { color: #ffb53e; }
.color-red { color: #f9243f; }

.bg-primary .glyphicon-remove { color: #5f6468;}
.bg-primary .glyphicon-remove:hover { color: #ef4040;}

.no-padding {
	padding: 0; margin: 0;
}

.glyphicon-xl {
	font-size: 6em;
}

.glyphicon-l {
	font-size: 3em;
}

.glyphicon-m {
	font-size: 1.5em;
}

.glyphicon-s {
	font-size: 0.75em;
}

.form-control {
	border: 1px solid #eee;
	box-shadow: none;
}

.form-control:focus {
	border: 1px solid #30a5ff;
	outline: 0;
	box-shadow: inset 0px 0px 0px 1px #30a5ff;
}

.navbar-header .navbar-brand {
	color: #fff;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 2px;
}

.navbar-header .navbar-brand span {
	color: #30a5ff;
}

/*Buttons*/

a.btn:hover,
button:hover {
	opacity: 0.8;
}

a.btn:active,
button:active {
	box-shadow: inset 0px 0px 500px rgba(0,0,0,.1);
	opacity: 1;
}

.btn-default,
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default,
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
	background-color: #e9ecf2;
	border-color: #e9ecf2;
	color: #1b3548;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary,
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
	background-color: #30a5ff;
	border-color: #30a5ff;
}

.btn-success,
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success,
.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
	background-color: #8ad919;
	border-color: #8ad919;
}

.btn-warning,
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning,
.btn-warning.disabled,
.btn-warning[disabled],
fieldset[disabled] .btn-warning,
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled:active,
.btn-warning[disabled]:active,
fieldset[disabled] .btn-warning:active,
.btn-warning.disabled.active,
.btn-warning[disabled].active,
fieldset[disabled] .btn-warning.active {
	background-color: #ffb53e;
	border-color: #ffb53e;
}

.btn-danger,
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger,
.btn-danger.disabled,
.btn-danger[disabled],
fieldset[disabled] .btn-danger,
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled:active,
.btn-danger[disabled]:active,
fieldset[disabled] .btn-danger:active,
.btn-danger.disabled.active,
.btn-danger[disabled].active,
fieldset[disabled] .btn-danger.active {
	background-color: #f9243f;
	border-color: #f9243f;
}

/*Backgrounds*/

.bg-primary {
	color: #1b3548;
	background-color: #e9ecf2;
}
a.bg-primary:hover {
	background-color: #e9ecf2;
}
.bg-success {
	color: #fff;
	background-color: #8ad919;
}
a.bg-success:hover {
	background-color: #8ad919;
}
.bg-success a {
	color: rgba(255, 255, 255, .75);
}
.bg-info {
	color: #fff;
	background-color: #30a5ff;
}
a.bg-info:hover {
	background-color: #30a5ff;
}
.bg-info a {
	color: rgba(255, 255, 255, .75);
}
.bg-warning {
	color: #fff;
	background-color: #ffb53e;
}
a.bg-warning:hover {
	background-color: #ffb53e;
}
.bg-warning a {
	color: rgba(255, 255, 255, .75);
}
.bg-danger {
	color: #fff;
	background-color: #f9243f;
}
a.bg-danger:hover {
	background-color: #f9243f;
}
.bg-danger a {
	color: rgba(255, 255, 255, .75);
}

/*Panels*/

.panel {
	border: 0;
}

.panel-heading {
	font-size: 18px;
	font-weight: 300;
	letter-spacing: 0.025em;
	height: 66px;
	line-height: 45px;
}

.panel-default .panel-heading {
	background: #fff;
	border-bottom: 1px solid #eee;
	color: #5f6468;
}

.panel-footer {
	background: #fff;
	border-top: 1px solid #eee;
}

.panel-widget {
	padding: 0;
	position: relative;
}

.panel-widget .panel-footer {
	border: 0;
	text-align: center;
}

.panel-footer .input-group {
	padding: 0px;
	margin: 0 -5px;
}

.panel-footer .input-group-btn:last-child>.btn,
.panel-footer .input-group-btn:last-child>.btn-group {
	margin: 0;
}

.panel-widget .panel-footer a {
	color: #999;
}

.panel-widget .panel-footer a:hover {
	color: #666;
	text-decoration: none;
}

.panel-blue { background: #30a5ff; color: #fff; }
.panel-teal { background: #1ebfae; color: #fff; }
.panel-orange { background: #ffb53e; color: #fff; }
.panel-red { background: #f9243f; color: #fff; }

.panel-blue .panel-body p,
.panel-teal .panel-body p,
.panel-orange .panel-body p,
.panel-red .panel-body p {
	color: #fff;
	color: rgba(255, 255, 255, .8);
}

.panel-blue .panel-heading,
.panel-teal .panel-heading,
.panel-orange .panel-heading,
.panel-red .panel-heading {
	border-bottom: 1px solid rgba(255, 255, 255, .2);
}

.panel-blue .text-muted,
.panel-teal .text-muted,
.panel-orange .text-muted,
.panel-red .text-muted {
	color: rgba(255, 255, 255, .5);
}

.dark-overlay {
	background: rgba(0, 0, 0, .05);
	text-align: center;
}

.widget-left {
	height: 80px;
	padding-top: 15px;
	text-align: center;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.widget-right {
	text-align: left;
	line-height: 1.6em;
	margin: 0px;
	padding: 20px;
	height: 80px;
	color: #999;
	font-weight: 300;
	background: #fff;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

@media (max-width: 768px) {
	.widget-right {
	width: 100%;
	margin: 0;
	text-align: center;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	}
}

@media (max-width: 768px) {
	.widget-left {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	}
}

.widget-right .text-muted {
	color: #9fadbb;
}
.widget-right .large {
	color: #5f6468;
}

.panel-blue .widget-left { background: #30a5ff; color: #fff; }
.panel-teal .widget-left { background: #1ebfae; color: #fff; }
.panel-orange .widget-left { background: #ffb53e; color: #fff; }
.panel-red .widget-left { background: #f9243f; color: #fff; }

.panel-widget {
	background: #fff;
}

/*Jumbotron*/

.jumbotron {
	background: #fff;
	border-bottom: 1px solid #eee;
	color: #5f6468;
}

/*Tabs*/

.panel .tabs {
	margin: 0;
	padding: 0;
}

.nav-tabs {
	background: #e9ecf2;
	border: 0;
}

.nav-tabs li a:hover {
	background: #fff;
}

.nav-tabs li a,
.nav-tabs li a:hover,
.nav-tabs li.active a,
.nav-tabs li.active a:hover {
	border: 0;
	padding: 15px 20px;
}

.nav-pills {
	padding: 15px;
	padding-bottom: 0;
}

.nav-pills li a,
.nav-pills li a:hover,
.nav-pills li.active a,
.nav-pills li.active a:hover {
	border: 0;
	padding: 7px 15px;
}

.nav-pills li.active a,
.nav-pills li.active a:hover {
	background: #30a5ff;
}

.tab-content {
	padding: 15px;
}


/*Navbar*/

.navbar {
	border: 0;
}

.navbar input {
	border: 0;
	background: #444;
	color: #fff;
}

.navbar input:focus {
	color: #fff;
	background: #555;
	border: 1px solid #30a5ff;
	outline: 0;
	box-shadow: inset 0px 0px 0px 1px #30a5ff;
}

.user-menu {
	display: inline-block;
	margin-top: 14px;
	margin-right: 10px;
	float: right;
	list-style: none;
	padding: 0;
}

.user-menu a {
	color: #fff;
}

.user-menu a:hover, .user-menu a:focus {
	text-decoration: none;
}

/* Sidebar */

.sidebar {
	display: block;
	background-color: #fff;
	padding: 0;
	display: none;
}

.sidebar form {
	padding: 20px 15px 5px 15px;
	border-bottom: 1px solid #eee;
	margin-bottom: 20px;
}

@media (min-width: 768px) {
	.sidebar {
		display: block;
  		position: fixed;
		top: 50px;
		bottom: 0;
		left: 0;
		z-index: 1000;
		display: block;
		margin: 0;
		padding: 0;
		overflow-x: hidden;
		overflow-y: auto;
		background-color: #fff;
		box-shadow: 1px 0px 10px rgba(0, 0, 0, .05);
	}
	.navbar-header {
		width: 100%;
	}
}

.sidebar ul.nav a:hover,
.sidebar ul.nav li.parent ul li a:hover {
	text-decoration: none;
	background-color: #e9ecf2;
}

.sidebar ul.nav .active a, .sidebar ul.nav li.parent a.active,
.sidebar ul.nav .active > a:hover, .sidebar ul.nav li.parent a.active:hover,
.sidebar ul.nav .active > a:focus, .sidebar ul.nav li.parent a.active:focus {
	color: #fff;
	background-color: #30a5ff;
}*/

.sidebar ul.nav ul,
.sidebar ul.nav ul li {
	list-style: none;
	list-style-type: none;
}

.sidebar ul.nav ul.children {
	width: auto;
	padding: 0;
	margin: 0;
	background: #f9f9f9;
}

.sidebar ul.nav ul.children li a {
	height: 40px;
	background: #f9f9f9;
	color: #30a5ff!important;
}

.sidebar ul.nav li.current a {
	background-color: #30a5ff;
	color: #fff!important;
}

.sidebar ul.nav li.parent ul li a {
	border: none;
	display:block;
	padding-left: 30px;
	line-height: 40px;
}


.sidebar span.glyphicon {
	margin-right: 10px;
}

.sidebar ul.nav li.divider {
	border-bottom: 1px solid #eee;
	margin: 20px 0;
}

.sidebar .attribution {
	position: absolute;
	bottom: 0px;
	width: 100%;
	padding: 15px;
	text-align: center;
	border-top: 1px solid #eee;
	font-size: 12px;
}

/*Breadcrumbs*/

.breadcrumb {
	border-radius: 0;
	padding: 10px 15px;
	background: #e9ecf2;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
	margin: 0 ;
}

h1.page-header {
	margin-top: 30px;
	border-bottom: 0;
}

/*Charts*/

.main-chart {
	background: #fff;
}

.easypiechart-panel {
	text-align: center;
	padding: 1px 0;
	margin-bottom: 20px;
}

.placeholder h2 {
	margin-bottom: 0px;
}

.donut {
	width: 100%;
}

.easypiechart {
	position: relative;
	text-align: center;
	width: 120px;
	height: 120px;
	margin: 20px auto 10px auto;
}

.easypiechart .percent {
	display: block;
	position: absolute;
	font-size: 26px;
	top: 38px;
	width: 120px;
}

#easypiechart-blue .percent { color: #30a5ff;}
#easypiechart-teal .percent { color: #1ebfae;}
#easypiechart-orange .percent { color: #ffb53e;}
#easypiechart-red .percent { color: #ef4040;}

/*Calendar Widget*/

#calendar, .datepicker-inline {
	width: 100%;
}

#calendar table {
	width: 100%;
}

.datepicker table tr td.old,
.datepicker table tr td.new {
	color: rgba(255, 255, 255, .50);
}

.datepicker table tr td.active,
.datepicker table tr td.active:hover,
.datepicker table tr td.active.disabled,
.datepicker table tr td.active.disabled:hover,
.datepicker table tr td.active:hover,
.datepicker table tr td.active:hover:hover,
.datepicker table tr td.active.disabled:hover,
.datepicker table tr td.active.disabled:hover:hover,
.datepicker table tr td.active:focus,
.datepicker table tr td.active:hover:focus,
.datepicker table tr td.active.disabled:focus,
.datepicker table tr td.active.disabled:hover:focus,
.datepicker table tr td.active:active,
.datepicker table tr td.active:hover:active,
.datepicker table tr td.active.disabled:active,
.datepicker table tr td.active.disabled:hover:active,
.datepicker table tr td.active.active,
.datepicker table tr td.active:hover.active,
.datepicker table tr td.active.disabled.active,
.datepicker table tr td.active.disabled:hover.active,
.open .dropdown-toggle.datepicker table tr td.active,
.open .dropdown-toggle.datepicker table tr td.active:hover,
.open .dropdown-toggle.datepicker table tr td.active.disabled,
.open .dropdown-toggle.datepicker table tr td.active.disabled:hover {
	color: #ffffff;
	background-color: rgba(0, 0, 0, .5);
	border-color: #285e8e;
}

.datepicker table tr td span:hover,
.datepicker thead tr:first-child th:hover,
.datepicker tfoot tr th:hover,
.datepicker table tr td.day:hover,
.datepicker table tr td.day.focused {
	background: rgba(0, 0, 0, 0.25);
}

.panel-heading .glyphicon {
	margin-right: 10px;
}

/*Todo List Widget*/

.todo-list-item .glyphicon {
	margin-right:5px;
	color: #9fadbb;
}

.todo-list-item .glyphicon:hover {
	margin-right:5px;
	color: #1b3548;
}

.todo-list {
	padding: 0;
	margin: -15px;
	background: #fff;
	color: #5f6468;
}

#checkbox {
	margin: 0;
}

.todo-list .checkbox {
	display:inline-block;
	margin: 0px;
}

.panel-body input[type=checkbox]:checked + label {
	text-decoration: line-through;
	color: #777;
}

.todo-list-item {
	list-style: none;
	line-height: 0.9;
	padding: 14px 15px 8px 15px;
}

.todo-list-item:hover, a.todo-list-item:focus {
	text-decoration: none;
	background-color: #f6f6f6;
}

.todo-list-item .trash .glyph:hover {
	color: #ef4040;
}


/*Chat Widget*/

.chat ul {
	list-style: none;
	margin: -15px;
	padding: 15px;
}

.chat ul li {
	margin-bottom: 10px;
	padding: 15px 5px;
	border-bottom: 1px solid #eee;
}

.chat ul li.left .chat-body { margin-left: 100px;}
.chat ul li.right .chat-body { margin-right: 100px;}

.chat ul li .chat-body p {
	margin: 0;
}

.chat ul .glyphicon {
	margin-right: 5px;
}

.chat .panel-body {
	overflow-y: scroll;
	height: 300px;
}

.chat-body small {
	margin-left: 5px;
}

/*Tables*/
.table {
	background: #fff;
}

.fixed-table-container {
	border: 1px solid #eee;
}

.fixed-table-container thead th {
	background: #f7f7f8;
	border-color: #ddd;
	color: #5f6468;
	font-weight: 300;
	font-size: 16px;
}

.fixed-table-container tbody td {
	border: 1px solid #eee;
}

.fixed-table-container tbody td:last-child {
	border-right: none;
}

.table>thead>tr>th {
	border-bottom: 1px solid #e6e7e8;
	vertical-align: middle;
	height: 50px;
}

.fixed-table-pagination .pagination {
    margin-top: 10px;
    margin-bottom: 0px;
}
.fixed-table-pagination .pagination-detail {
	margin-top: 20px;
}

/*Icons*/


.sidebar .glyph, .user-menu .glyph {
	height: 16px;
	width: 16px;
	margin: 0 10px 0 0;
	stroke-width: 3px;
}

.user-menu .glyph {
	stroke-width: 4px;
}

.breadcrumb .glyph {
	height: 14px;
	width: 14px;
	margin: -2px 0 0 0;
	stroke-width: 4px;
}

.alert .glyph, .panel-heading .glyph {
	width: 26px;
	height: 26px;
	margin: 0 10px 0 0;
	stroke-width: 2px;
}

.panel-widget .glyph {
	stroke-width: 2px;
}

.todo-list .glyph {
	width: 14px;
	height: 14px;
	stroke-width: 4px;
	color: #999;
}

.glyph.table {
	background: none;
	border: none;
}

/*Icon Grid*/

.icon-grid div {
	border: 1px solid #ddd;
	margin: 0 0 -1px -1px;
	text-align: center;
	padding: 10px 0 20px 0;
}

.icon-grid svg {
	width: 35%;
	display: block;
	margin: 0 auto;
}

.icon-grid h4 {
	display: none;
}

.icon-grid pre {
	margin: 10px 10px -10px 10px;
	border-radius: 0;
	font-size: 10px;
	border-color: #ddd;
	height: 65px;
	overflow: scroll;
}

.date-form-control-unsetwidth, .date-form-control, .form-control-fluid{
	 height: 34px;
	 padding: 6px 12px;
	 font-size: 14px;
	 line-height: 1.42857143;
	 color: #555;
	 background-color: #fff;
	 background-image: none;
	 border: 1px solid #ccc;
	 border-radius: 4px;
	 -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	 box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	 -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	 -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	 transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.w16{
	width: 16px !important;
}
.h16{
	height: 16px !important;
}

.pointer{
  cursor: pointer;
}
.backeee{background-color: #eee;}
.backddd{background-color: #ddd;}
.backccc{background-color: #ccc;}
.frht{
    float:right;
}
.flft{
    float:left;
}
.bold{
    font-weight:bold;
}
.italic{
	font-style: italic;
}
.f8{ font-size: 8px !important; }
.f9{ font-size: 9px !important; }
.f10{ font-size: 10px !important; }
.f11{ font-size: 11px !important; }
.f12{ font-size: 12px !important; }
.f14{ font-size: 14px !important; }
.dontdisplay{ display:none;}
.p5{padding:5px;}
.p10{padding:10px;}
.m5{ margin: 5px; }
.m10{ margin: 10px; }
.right{
	text-align: right !important;
}
.center{
	text-align: center !important;
}
.w5p{ width: 5% !important; }
.w10p{ width: 10% !important; }
.w15p{ width: 15% !important; }
.w20p{ width: 20% !important; }
.w25p{ width: 25% !important; }
.w30p{ width: 30% !important; }
.w33p{ width: 33% !important; }
.w34p{ width: 34% !important; }
.w35p{ width: 35% !important; }
.w40p{ width: 40% !important; }
.w45p{ width: 45% !important; }
.w48p{ width: 48% !important; }
.w50p{ width: 50% !important; }
.w55p{ width: 55% !important; }
.w60p{ width: 60% !important; }
.w65p{ width: 65% !important; }
.w70p{ width: 70% !important; }
.w75p{ width: 75% !important; }
.w80p{ width: 80% !important; }
.w85p{ width: 85% !important; }
.w90p{ width: 90% !important; }
.w95p{ width: 95% !important; }
.w100p{ width: 100% !important; }
.w0{ width:0px !important; }
.w10{ width:10px !important; }
.w20{ width:20px !important; }
.w30{ width:30px !important; }
.w35{ width:35px !important; }
.w40{ width:40px !important; }
.w50{ width:50px !important; }
.w60{ width:60px !important; }
.w70{ width:70px !important; }
.w80{ width:80px !important; }
.w90{ width:90px !important; }
.w100{ width:100px !important; }
.w110{ width:110px !important; }
.w120{ width:120px !important; }
.w130{ width:130px !important; }
.w140{ width:140px !important; }
.w150{ width:150px !important; }
.w160{ width:160px !important; }
.w170{ width:170px !important; }
.w180{ width:180px !important; }
.w190{ width:190px !important; }
.w200{ width:200px !important; }
.w210{ width:210px !important; }
.w220{ width:220px !important; }
.w230{ width:230px !important; }
.w240{ width:240px !important; }
.w250{ width:250px !important; }
.w260{ width:260px !important; }
.w270{ width:270px !important; }
.w280{ width:280px !important; }
.w290{ width:290px !important; }
.w295{ width:295px !important; }
.w300{ width:300px !important; }
.w310{ width:310px !important; }
.w320{ width:320px !important; }
.w330{ width:330px !important; }
.w340{ width:340px !important; }
.w350{ width:350px !important; }
.w360{ width:360px !important; }
.w370{ width:370px !important; }
.w380{ width:380px !important; }
.w390{ width:390px !important; }
.w400{ width:400px !important; }
.w410{ width:410px !important; }
.w420{ width:420px !important; }
.w430{ width:430px !important; }
.w440{ width:440px !important; }
.w450{ width:450px !important; }
.w460{ width:460px !important; }
.w470{ width:470px !important; }
.w480{ width:480px !important; }
.w490{ width:490px !important; }
.w500{ width:500px !important; }
.w510{ width:510px !important; }
.w520{ width:520px !important; }
.w530{ width:530px !important; }
.w540{ width:540px !important; }
.w550{ width:550px !important; }
.w560{ width:560px !important; }
.w570{ width:570px !important; }
.w580{ width:580px !important; }
.w590{ width:590px !important; }
.w600{ width:600px !important; }
.w610{ width:610px !important; }
.w620{ width:620px !important; }
.w630{ width:630px !important; }
.w640{ width:640px !important; }
.w650{ width:650px !important; }
.w660{ width:660px !important; }
.w670{ width:670px !important; }
.w680{ width:680px !important; }
.w690{ width:690px !important; }
.w700{ width:700px !important; }
.w710{ width:710px !important; }
.w720{ width:720px !important; }
.w730{ width:730px !important; }
.w740{ width:740px !important; }
.w750{ width:750px !important; }
.w760{ width:760px !important; }
.w770{ width:770px !important; }
.w780{ width:780px !important; }
.w790{ width:790px !important; }
.w800{ width:800px !important; }
.w810{ width:810px !important; }
.w820{ width:820px !important; }
.w830{ width:830px !important; }
.w840{ width:840px !important; }
.w850{ width:850px !important; }
.w860{ width:860px !important; }
.w870{ width:870px !important; }
.w880{ width:880px !important; }
.w890{ width:890px !important; }
.w900{ width:900px !important; }
.w910{ width:910px !important; }
.w920{ width:920px !important; }
.w930{ width:930px !important; }
.w940{ width:940px !important; }
.w950{ width:950px !important; }
.w960{ width:960px !important; }
.w970{ width:970px !important; }
.w980{ width:980px !important; }
.w990{ width:990px !important; }
.w1000{ width:1000px !important; }

.mw10{ max-width:10px !important; }
.mw20{ max-width:20px !important; }
.mw30{ max-width:30px !important; }
.mw40{ max-width:40px !important; }
.mw50{ max-width:50px !important; }
.mw60{ max-width:60px !important; }
.mw70{ max-width:70px !important; }
.mw80{ max-width:80px !important; }
.mw90{ max-width:90px !important; }
.mw100{ max-width:100px !important; }
.mw110{ max-width:110px !important; }
.mw120{ max-width:120px !important; }
.mw130{ max-width:130px !important; }
.mw140{ max-width:140px !important; }
.mw150{ max-width:150px !important; }
.mw160{ max-width:160px !important; }
.mw170{ max-width:170px !important; }
.mw180{ max-width:180px !important; }
.mw190{ max-width:190px !important; }
.mw200{ max-width:200px !important; }
.mw210{ max-width:210px !important; }
.mw220{ max-width:220px !important; }
.mw230{ max-width:230px !important; }
.mw240{ max-width:240px !important; }
.mw250{ max-width:250px !important; }
.mw260{ max-width:260px !important; }
.mw270{ max-width:270px !important; }
.mw280{ max-width:280px !important; }
.mw290{ max-width:290px !important; }
.mw295{ max-width:295px !important; }
.mw300{ max-width:300px !important; }
.mw310{ max-width:310px !important; }
.mw320{ max-width:320px !important; }
.mw330{ max-width:330px !important; }
.mw340{ max-width:340px !important; }
.mw350{ max-width:350px !important; }
.mw360{ max-width:360px !important; }
.mw370{ max-width:370px !important; }
.mw380{ max-width:380px !important; }
.mw390{ max-width:390px !important; }
.mw400{ max-width:400px !important; }
.mw410{ max-width:410px !important; }
.mw420{ max-width:420px !important; }
.mw430{ max-width:430px !important; }
.mw440{ max-width:440px !important; }
.mw450{ max-width:450px !important; }
.mw460{ max-width:460px !important; }
.mw470{ max-width:470px !important; }
.mw480{ max-width:480px !important; }
.mw490{ max-width:490px !important; }
.mw500{ max-width:500px !important; }
.mw510{ max-width:510px !important; }
.mw520{ max-width:520px !important; }
.mw530{ max-width:530px !important; }
.mw540{ max-width:540px !important; }
.mw550{ max-width:550px !important; }
.mw560{ max-width:560px !important; }
.mw570{ max-width:570px !important; }
.mw580{ max-width:580px !important; }
.mw590{ max-width:590px !important; }
.mw600{ max-width:600px !important; }
.mw610{ max-width:610px !important; }
.mw620{ max-width:620px !important; }
.mw630{ max-width:630px !important; }
.mw640{ max-width:640px !important; }
.mw650{ max-width:650px !important; }
.mw660{ max-width:660px !important; }
.mw670{ max-width:670px !important; }
.mw680{ max-width:680px !important; }
.mw690{ max-width:690px !important; }
.mw700{ max-width:700px !important; }
.mw710{ max-width:710px !important; }
.mw720{ max-width:720px !important; }
.mw730{ max-width:730px !important; }
.mw740{ max-width:740px !important; }
.mw750{ max-width:750px !important; }
.mw760{ max-width:760px !important; }
.mw770{ max-width:770px !important; }
.mw780{ max-width:780px !important; }
.mw790{ max-width:790px !important; }
.mw800{ max-width:800px !important; }
.mw810{ max-width:810px !important; }
.mw820{ max-width:820px !important; }
.mw830{ max-width:830px !important; }
.mw840{ max-width:840px !important; }
.mw850{ max-width:850px !important; }
.mw860{ max-width:860px !important; }
.mw870{ max-width:870px !important; }
.mw880{ max-width:880px !important; }
.mw890{ max-width:890px !important; }
.mw900{ max-width:900px !important; }
.mw910{ max-width:910px !important; }
.mw920{ max-width:920px !important; }
.mw930{ max-width:930px !important; }
.mw940{ max-width:940px !important; }
.mw950{ max-width:950px !important; }
.mw960{ max-width:960px !important; }
.mw970{ max-width:970px !important; }
.mw980{ max-width:980px !important; }
.mw990{ max-width:990px !important; }
.mw1000{ max-width:1000px !important; }

.h5p{ height: 5% !important; }
.h10p{ height: 10% !important; }
.h15p{ height: 15% !important; }
.h20p{ height: 20% !important; }
.h25p{ height: 25% !important; }
.h30p{ height: 30% !important; }
.h35p{ height: 35% !important; }
.h40p{ height: 40% !important; }
.h45p{ height: 45% !important; }
.h50p{ height: 50% !important; }
.h55p{ height: 55% !important; }
.h60p{ height: 60% !important; }
.h65p{ height: 65% !important; }
.h70p{ height: 70% !important; }
.h75p{ height: 75% !important; }
.h80p{ height: 80% !important; }
.h85p{ height: 85% !important; }
.h90p{ height: 90% !important; }
.h95p{ height: 95% !important; }
.h100p{ height: 100% !important; }
.h0{ height:0px !important; }
.h10{ height:10px !important; }
.h20{ height:20px !important; }
.h30{ height:30px !important; }
.h40{ height:40px !important; }
.h50{ height:50px !important; }
.h60{ height:60px !important; }
.h70{ height:70px !important; }
.h80{ height:80px !important; }
.h90{ height:90px !important; }
.h100{ height:100px !important; }
.h110{ height:110px !important; }
.h120{ height:120px !important; }
.h130{ height:130px !important; }
.h140{ height:140px !important; }
.h150{ height:150px !important; }
.h160{ height:160px !important; }
.h170{ height:170px !important; }
.h180{ height:180px !important; }
.h190{ height:190px !important; }
.h200{ height:200px !important; }
.h210{ height:210px !important; }
.h220{ height:220px !important; }
.h230{ height:230px !important; }
.h240{ height:240px !important; }
.h250{ height:250px !important; }
.h260{ height:260px !important; }
.h270{ height:270px !important; }
.h280{ height:280px !important; }
.h290{ height:290px !important; }
.h300{ height:300px !important; }
.h310{ height:310px !important; }
.h320{ height:320px !important; }
.h330{ height:330px !important; }
.h340{ height:340px !important; }
.h350{ height:350px !important; }
.h360{ height:360px !important; }
.h370{ height:370px !important; }
.h380{ height:380px !important; }
.h390{ height:390px !important; }
.h400{ height:400px !important; }

.mh10{ max-height:10px !important; }
.mh20{ max-height:20px !important; }
.mh30{ max-height:30px !important; }
.mh40{ max-height:40px !important; }
.mh50{ max-height:50px !important; }
.mh60{ max-height:60px !important; }
.mh70{ max-height:70px !important; }
.mh80{ max-height:80px !important; }
.mh90{ max-height:90px !important; }
.mh100{ max-height:100px !important; }
.mh110{ max-height:110px !important; }
.mh120{ max-height:120px !important; }
.mh130{ max-height:130px !important; }
.mh140{ max-height:140px !important; }
.mh150{ max-height:150px !important; }
.mh160{ max-height:160px !important; }
.mh170{ max-height:170px !important; }
.mh180{ max-height:180px !important; }
.mh190{ max-height:190px !important; }
.mh200{ max-height:200px !important; }
.mh210{ max-height:210px !important; }
.mh220{ max-height:220px !important; }
.mh230{ max-height:230px !important; }
.mh240{ max-height:240px !important; }
.mh250{ max-height:250px !important; }
.mh260{ max-height:260px !important; }
.mh270{ max-height:270px !important; }
.mh280{ max-height:280px !important; }
.mh290{ max-height:290px !important; }
.mh300{ max-height:300px !important; }
.mh310{ max-height:310px !important; }
.mh320{ max-height:320px !important; }
.mh330{ max-height:330px !important; }
.mh340{ max-height:340px !important; }
.mh350{ max-height:350px !important; }
.mh360{ max-height:360px !important; }
.mh370{ max-height:370px !important; }
.mh380{ max-height:380px !important; }
.mh390{ max-height:390px !important; }
.mh400{ max-height:400px !important; }

.autofit, .table-detailed-view th{
  width: 1px;
  white-space: nowrap;
}

.login-panel img {
    height: 120px;
    width: auto;
}
