a, a:hover, a:focus {
	color: #fff;
}

.navbar-inverse {
    background-color: #67809F;
    border-color: #67809F;
}

/*top navbar*/
.navbar-inverse {
    background-color: #336E7B;
    border-color: #336E7B;
}

.sidebar {
	background-color: #6C7A89;
}

@media (min-width: 768px) {
	.sidebar {
		background-color: #6C7A89;
		box-shadow: 1px 0px 10px rgba(0, 0, 0, .05);
	}
	.navbar-header {
		width: 100%;
	}
}

.sidebar ul.nav a:hover,
.sidebar ul.nav li.parent ul li a:hover {
	color: #34495e;
}

.breadcrumb {
	background: #D2D7D3;
}
