<div class="padding">
	<div class="row">
	    <div class="col-sm-12 push-md-3 col-md-6">
	    	<div class="box">
	    		<div class="box-header b-b">
	    			<h3>What's  New</h3>
	    		</div>
	    		<div class="box-body">
	    			<div class="row row-sm">
	    				<div class="col-sm-4">
	    					<a href>
	    						<img src="framework/themes/flatui/assets/images/c6.jpg" class="w-full"></img>
	    					</a>
	    				</div>
	    				<div class="col-sm-4">
	    					<a href>
	    						<img src="framework/themes/flatui/assets/images/c4.jpg" class="w-full"></img>
	    					</a>
	    				</div>
	    				<div class="col-sm-4">
	    					<a href>
	    						<img src="framework/themes/flatui/assets/images/c5.jpg" class="w-full"></img>
	    					</a>
	    				</div>
	    			</div>
	    		</div>
	    	</div>
	    	<div class="box">
	            <form>
	              <textarea class="form-control no-border" rows="3" placeholder="Type something..."></textarea>
	            </form>
	            <div class="box-footer clearfix">
	              <button class="btn btn-info pull-right btn-sm">Post</button>
	              <ul class="nav nav-pills nav-sm">
	                <li class="nav-item"><a class="nav-link" href><i class="fa fa-camera text-muted"></i></a></li>
	                <li class="nav-item"><a class="nav-link" href><i class="fa fa-video-camera text-muted"></i></a></li>
	              </ul>
	            </div>
	        </div>
			<div class="box">
				<div class="box-header">
					<h3>Feeds <span class="label success">5</span></h3>
				</div>
				<div class="box-body">
				  	<div class="streamline b-l m-l-md">
		              <div class="sl-item">
		                <div class="sl-left">
		                  <img src="framework/themes/flatui/assets/images/a0.jpg" class="img-circle">
		                </div>
		                <div class="sl-content">
		                  <div class="sl-date text-muted">2 minutes ago</div>
		                  <div class="sl-author">
		                    <a href>Peter Joo</a>
		                  </div>
		                  <div>
		                    <p>Consectetur adipiscing elit. Morbi id neque quam. Aliquam sollicitudin venenatis ipsum ac feugiat. Vestibulum ullamcorper sodales nisi nec condimentum. Mauris convallis mauris at pellentesque volutpat. Phasellus at ultricies neque, quis malesuada augue. Donec eleifend</p>
		                  </div>
		                  <div class="sl-footer">
		                    <a href data-toggle="collapse" data-target="#reply-1">
		                      <i class="fa fa-fw fa-mail-reply text-muted"></i> Reply
		                    </a>
		                  </div>
		                  <div class="box collapse m-0 b-a" id="reply-1">
		                    <form>
		                      <textarea class="form-control no-border" rows="3" placeholder="Type something..."></textarea>
		                    </form>
		                    <div class="box-footer clearfix">
		                      <button class="btn btn-info pull-right btn-sm">Post</button>
		                      <ul class="nav nav-pills nav-sm">
		                        <li class="nav-item"><a class="nav-link" href><i class="fa fa-camera text-muted"></i></a></li>
		                        <li class="nav-item"><a class="nav-link" href><i class="fa fa-video-camera text-muted"></i></a></li>
		                      </ul>
		                    </div>
		                  </div>
		                </div>
		              </div>
		              <div class="sl-item">
		                <div class="sl-left">
		                  <img src="framework/themes/flatui/assets/images/a2.jpg" class="img-circle">
		                </div>
		                <div class="sl-content">
		                  <div class="sl-date text-muted">8:30</div>
		                  <div class="sl-author">
		                    <a href>Moke</a>
		                  </div>
		                  <div>
		                    <p>Just followed <a href class="text-info">Jacob</a> and she followed you too.</p>
		                    <p>
		                      <span class="inline p-a-xs b-a dark-white">
		                        <img src="framework/themes/flatui/assets/images/b2.jpg" class="img-responsive">
		                      </span>
		                    </p>
		                  </div>
		                </div>
		              </div>
		              <div class="sl-item">
		                <div class="sl-left">
		                  <img src="framework/themes/flatui/assets/images/a3.jpg" class="img-circle">
		                </div>
		                <div class="sl-content">
		                  <div class="sl-date text-muted">Sat, 5 Mar</div>
		                  <div class="sl-author">
		                    <a href>Moke</a>
		                  </div>
		                  <blockquote>
		                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante soe aiea ose dos soois.</p>
		                    <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
		                  </blockquote>


			              <div class="sl-item">
			                <div class="sl-left">
			                  <img src="framework/themes/flatui/assets/images/a2.jpg" class="img-circle">
			                </div>
			                <div class="sl-content">
			                  <div class="sl-date text-muted">Sun, 11 Feb</div>
			                  <p><a href class="text-info">Jessi</a> assign you a task <a href class="text-info">Mockup Design</a>.</p>
			                </div>
			              </div>
			              <div class="sl-item">
			                <div class="sl-left">
			                  <img src="framework/themes/flatui/assets/images/a5.jpg" class="img-circle">
			                </div>
			                <div class="sl-content">
			                  <div class="sl-date text-muted">Thu, 17 Jan</div>
			                  <p>Follow up to close deal</p>
			                </div>
			              </div>

		                </div>
		              </div>
		            </div>
		  		</div>
			</div>
	    </div>

		<div class="col-sm-6 pull-md-6 col-md-3">
			<div class="box">
				<div class="box-tool">
			        <ul class="nav">
			          <li class="nav-item inline dropdown">
			            <a class="nav-link text-muted" data-toggle="dropdown">
			              <i class="material-icons md-18">&#xe164;</i>
			            </a>
			            <div class="dropdown-menu dropdown-menu-scale pull-right dark">
			              <a class="dropdown-item" href>Activities</a>
			              <a class="dropdown-item" href>Feed</a>
			              <a class="dropdown-item" href>Photo</a>
			              <div class="dropdown-divider"></div>
			              <a class="dropdown-item">Follow</a>
			            </div>
			          </li>
			        </ul>
			    </div>
			    <div class="p-a-md text-center">
			    	<p><img src="framework/themes/flatui/assets/images/a1.jpg" class="img-circle w-xs"></p>
			    	<a href class="text-md block">Jason Warren</a>
			    	<p><small>London, UK</small></p>
			    	<div>
			    		<a href="" class="btn btn-icon btn-social rounded white btn-sm">
							<i class="fa fa-facebook"></i>
							<i class="fa fa-facebook indigo"></i>
						</a>
						<a href="" class="btn btn-icon btn-social rounded white btn-sm">
							<i class="fa fa-twitter"></i>
							<i class="fa fa-twitter light-blue"></i>
						</a>
						<a href="" class="btn btn-icon btn-social rounded white btn-sm">
							<i class="fa fa-google-plus"></i>
							<i class="fa fa-google-plus red"></i>
						</a>
			    	</div>
			    	<div class="text-center m-t">
			    		<a href class="btn btn-sm rounded {{app.setting.theme.primary}} w-sm m-y-xs">Follow</a>
			    		<a href class="btn btn-sm rounded btn-outline b-{{app.setting.theme.primary}} w-sm">Invite</a>
			    	</div>
			    </div>
			    <div class="row no-gutter b-t b-b">
				  <div class="col-sm-6 b-r">
				    <a class="p-a block text-center">
				      <span class="block _600">3219</span>
				      <span>Followers</span>
				    </a>
				  </div>
				  <div class="col-sm-6">
				    <a class="p-a block text-center">
				      <span class="block _600">1458</span>
				      <span>Following</span>
				    </a>
				  </div>
				</div>
				<div class="p-a">
					<a href class="text-ellipsis"><i class="fa fa-link text-muted m-r-sm"></i> apack.com/subdomain</a>
					<a href class="text-ellipsis"><i class="fa fa-globe text-muted m-r-sm"></i> yourdomain.com</a>
				</div>
			</div>
			<div class="box light lt">
	            <div class="box-body">
	              <a href class="pull-left m-r">
	                <img src="framework/themes/flatui/assets/images/a0.jpg" class="img-circle w-40">
	              </a>
	              <div class="clear p-a-xs">
	                <a href>@Mike Mcalidek</a>
	                <small class="block text-muted">2,415 followers / 225 tweets</small>
	                <a href class="btn btn-sm btn-rounded white m-t-xs"><i class="fa fa-twitter m-t-xs"></i> Follow</a>
	              </div>
	            </div>
	        </div>
	    </div>

	    <div class="col-sm-6 col-md-3">
	    	<div class="box">
	    		<div class="box-header">
	    			<h4>Just followed you</h4>
	    		</div>
				<div class="list-group no-radius no-borders">
		            <a data-toggle="modal" data-target="#chat" data-dismiss="modal"  class="list-group-item text-ellipsis">
		            	<span class="w-8 rounded m-r-sm success"></span>
		                <img src="framework/themes/flatui/assets/images/a2.jpg" class="w-24 m-r-sm img-circle">
		                <span>Jonathan Morina</span>
		            </a>
		            <a data-toggle="modal" data-target="#chat" data-dismiss="modal"  class="list-group-item text-ellipsis">
		            	<span class="w-8 rounded m-r-sm success"></span>
		                <img src="framework/themes/flatui/assets/images/a3.jpg" class="w-24 m-r-sm img-circle">
		                <span>Mason Yarnell</span>
		            </a>
		            <a data-toggle="modal" data-target="#chat" data-dismiss="modal"  class="list-group-item text-ellipsis">
		            	<span class="w-8 rounded m-r-sm warning"></span>
		                <img src="framework/themes/flatui/assets/images/a4.jpg" class="w-24 m-r-sm img-circle">
		                <span>Mike Mcalidek</span>
		            </a>
		            <a data-toggle="modal" data-target="#chat" data-dismiss="modal"  class="list-group-item text-ellipsis">
		            	<span class="w-8 rounded m-r-sm danger"></span>
		                <img src="framework/themes/flatui/assets/images/a5.jpg" class="w-24 m-r-sm img-circle">
		                <span>Cris Labiso</span>
		            </a>
		            <a data-toggle="modal" data-target="#chat" data-dismiss="modal"  class="list-group-item text-ellipsis">
		            	<span class="w-8 rounded m-r-sm dker"></span>
		                <img src="framework/themes/flatui/assets/images/a6.jpg" class="w-24 m-r-sm img-circle">
		                <span>Daniel Sandvid</span>
		            </a>
		            <a data-toggle="modal" data-target="#chat" data-dismiss="modal"  class="list-group-item text-ellipsis">
		            	<span class="w-8 rounded m-r-sm dker"></span>
		                <img src="framework/themes/flatui/assets/images/a7.jpg" class="w-24 m-r-sm img-circle">
		                <span>Helder Oliveira</span>
		            </a>
		            <a data-toggle="modal" data-target="#chat" data-dismiss="modal"  class="list-group-item text-ellipsis">
		            	<span class="w-8 rounded m-r-sm dker"></span>
		                <img src="framework/themes/flatui/assets/images/a8.jpg" class="w-24 m-r-sm img-circle">
		                <span>Jeff Broderik</span>
		            </a>
		            <a data-toggle="modal" data-target="#chat" data-dismiss="modal"  class="list-group-item text-ellipsis">
		            	<span class="w-8 rounded m-r-sm dker"></span>
		                <img src="framework/themes/flatui/assets/images/a9.jpg" class="w-24 m-r-sm img-circle">
		                <span>Daniel Sandvid</span>
		            </a>
		            <a data-toggle="modal" data-target="#chat" data-dismiss="modal"  class="list-group-item text-ellipsis">
		            	<span class="w-8 rounded m-r-sm dker"></span>
		                <img src="framework/themes/flatui/assets/images/a0.jpg" class="w-24 m-r-sm img-circle">
		                <span>Helder Oliveira</span>
		            </a>
		            <a data-toggle="modal" data-target="#chat" data-dismiss="modal"  class="list-group-item text-ellipsis">
		            	<span class="w-8 rounded m-r-sm dker"></span>
		                <img src="framework/themes/flatui/assets/images/a2.jpg" class="w-24 m-r-sm img-circle">
		                <span>Jeff Broderik</span>
		            </a>
		        </div>
	        </div>
	        <div class="box light lt p-a-lg text-center">
	        	AD
	        </div>
	    </div>
	</div>
</div>
