<div class="padding">
	<div class="row">
        <div class="col-md-3 push-md-9">
          <div class="box">
            <div class="box-header">Filter</div>
            <div class="box-body">
              <ul class="list-unstyled m-t-n-sm">
                <li class="checkbox">
                  <label class="ui-check">
                    <input type="checkbox" checked><i></i> Nature
                  </label>
                </li>
                <li class="checkbox">
                  <label class="ui-check">
                    <input type="checkbox" checked><i></i> Food and Drink
                  </label>
                </li>
                <li class="checkbox">
                  <label class="ui-check">
                    <input type="checkbox"><i></i> Model Released
                  </label>
                </li>
                <li class="checkbox">
                  <label class="ui-check">
                    <input type="checkbox"><i></i> Animals/Wildlife
                  </label>
                </li>
                <li class="checkbox">
                  <label class="ui-check">
                    <input type="checkbox"><i></i> Abstract
                  </label>
                </li>
                <li class="checkbox">
                  <label class="ui-check">
                    <input type="checkbox"><i></i> Beauty/Fashion
                  </label>
                </li>
                <li class="checkbox">
                  <label class="ui-check">
                    <input type="checkbox"><i></i> Business
                  </label>
                </li>
              </ul>
              <div class="line line-dashed b-b m-b"></div>
              <ul class="list-unstyled">
                <li class="radio">
                  <label class="ui-check">
                    <input type="radio" name="filter" checked><i></i> Today
                  </label>
                </li>
                <li class="radio">
                  <label class="ui-check">
                    <input type="radio" name="filter"><i></i> Last Week
                  </label>
                </li>
                <li class="radio">
                  <label class="ui-check">
                    <input type="radio" name="filter"><i></i> Last Month
                  </label>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-9 pull-md-3">
          <div class="row">
            <div class="col-xs-6 col-sm-4 col-md-3">
              <div class="box p-a-xs">
                <a href="#"><img src="framework/themes/flatui/assets/images/c1.jpg" alt="" class="img-responsive"></a>
                <div class="p-a-sm">
                  <div class="text-ellipsis">Skyline collection</div>
                </div>
              </div>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3">
              <div class="box p-a-xs">
                <a href="#"><img src="framework/themes/flatui/assets/images/c2.jpg" alt="" class="img-responsive"></a>
                <div class="p-a-sm">
                  <div class="text-ellipsis">Morbi nec nunc condimentum</div>
                </div>
              </div>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3">
              <div class="box p-a-xs">
                <a href="#"><img src="framework/themes/flatui/assets/images/c3.jpg" alt="" class="img-responsive"></a>
                <div class="p-a-sm">
                  <div class="text-ellipsis">Vestibulum ullamcorper sodales nisi</div>
                </div>
              </div>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3">
              <div class="box p-a-xs">
                <a href="#"><img src="framework/themes/flatui/assets/images/c4.jpg" alt="" class="img-responsive"></a>
                <div class="p-a-sm">
                  <div class="text-ellipsis">Lorem ipsum dolor sit amet</div>
                </div>
              </div>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3">
              <div class="box p-a-xs">
                <a href="#"><img src="framework/themes/flatui/assets/images/c0.jpg" alt="" class="img-responsive"></a>
                <div class="p-a-sm">
                  <div class="text-ellipsis">Donec eleifend condimentum nisl eu consectetur.</div>
                </div>
              </div>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3">
              <div class="box p-a-xs">
                <a href="#"><img src="framework/themes/flatui/assets/images/c6.jpg" alt="" class="img-responsive"></a>
                <div class="p-a-sm">
                  <div class="text-ellipsis">Duis non malesuada est</div>
                </div>
              </div>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3">
              <div class="box p-a-xs">
                <a href="#"><img src="framework/themes/flatui/assets/images/c0.jpg" alt="" class="img-responsive"></a>
                <div class="p-a-sm">
                  <div class="text-ellipsis">Mauris convallis mauris at pellentesque</div>
                </div>
              </div>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3">
              <div class="box p-a-xs">
                <a href="#"><img src="framework/themes/flatui/assets/images/c7.jpg" alt="" class="img-responsive"></a>
                <div class="p-a-sm">
                  <div class="text-ellipsis">Donec eleifend</div>
                </div>
              </div>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3">
              <div class="box p-a-xs">
                <a href="#"><img src="framework/themes/flatui/assets/images/c8.jpg" alt="" class="img-responsive"></a>
                <div class="p-a-sm">
                  <div class="text-ellipsis">Vestibulum ullamcorper sodales</div>
                </div>
              </div>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3">
              <div class="box p-a-xs">
                <a href="#"><img src="framework/themes/flatui/assets/images/c0.jpg" alt="" class="img-responsive"></a>
                <div class="p-a-sm">
                  <div class="text-ellipsis">Dapibus porta</div>
                </div>
              </div>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3">
              <div class="box p-a-xs">
                <a href="#"><img src="framework/themes/flatui/assets/images/c9.jpg" alt="" class="img-responsive"></a>
                <div class="p-a-sm">
                  <div class="text-ellipsis">Phasellus at ultricies neque,</div>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="btn-group m-r">
              <button type="button" class="btn btn-sm white"><i class="fa fa-chevron-left"></i></button>
              <button type="button" class="btn btn-sm white"><i class="fa fa-chevron-right"></i></button>
            </div>
            Showing <strong>8</strong> of 25
          </div>
        </div>
    </div>
</div>
