<div class="padding">
  <form action="#" class="m-b-md">
    <div class="input-group input-group-lg">
      <input type="text" class="form-control" placeholder="Type keyword">
      <span class="input-group-btn">
        <button class="btn b-a no-shadow white" type="button">Search</button>
      </span>
    </div>
  </form>
  <p class="m-b-md"><strong>23</strong> Results found for: <strong>Keyword</strong></p>

  <ul class="nav nav-sm nav-pills nav-active-primary clearfix">
    <li class="nav-item">
      <a class="nav-link active" href data-toggle="tab" data-target="#tab_1">All <span class="label label-sm primary m-l-xs">160</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href data-toggle="tab" data-target="#tab_2">Members <span class="label label-sm primary m-l-xs">12</span></a>
    </li>
  </ul>

  <div class="tab-content">      
    <div class="tab-pane p-v-sm active" id="tab_1">
      <div class="box m-t p-a-sm">
        <ul class="list">
          <li class="list-item">
            <div class="pull-left pull-none-xs m-r m-b w p-a-xs b-a">
              <img src="framework/themes/flatui/assets/images/c0.jpg" class="w-full">
            </div>
            <div class="clear">
              <h5 class="m-0 m-b-sm"><a href>Morbi id neque quam. Aliquam sollicitudin venenatis ipsum ac </a></h5>
              <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id neque quam. Aliquam-0 m-b-smitudin egestas dui nec, fermentum diam. Vivamus vel tincidunt libero, vitae elementu</p>
              <p><span class="label m-r">Tags:</span> <a href class="m-r-sm">admin</a> <a href>app</a>
              </p>
            </div>
          </li>
          <li class="list-item">
            <div class="clear">
              <h5 class="m-0 m-b-sm"><a href>Vestibulum ullamcorper sodales nisi nec condimentum</a></h5>
              <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id neque quam. Aliquam sollicitudin egestas dui nec, fermentum diam. Vivamus vel tincidunt libero, vitae elementum ligula venenatis ipsum ac feugiat. Vestibulum ullamcorper sodales nisi nec condimentum</p>
              <p><span class="label m-r"> Tags:</span> <a href class="m-r-sm">admin</a> <a href>app</a>
              </p>
            </div>
          </li>
          <li class="list-item">
            <div class="clear">
              <h5 class="m-0 m-b-sm"><a href>Mauris convallis mauris at pellentesque volutpat</a></h5>
              <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id neque quam. Aliquam sollicitudin egestas dui nec, fermentum diam. Vivamus vel tincidunt libero, vitae elementum ligula venenatis ipsum ac feugiat. Vestibulum ullamcorper sodales nisi nec condimentum</p>
              <p><span class="label m-r"> Tags:</span> <a href class="m-r-sm">admin</a> <a href>app</a>
              </p>
            </div>
          </li>
          <li class="list-item">
            <div class="clear">
              <h5 class="m-0 m-b-sm"><a href>Phasellus at ultricies neque, quis malesuada augu</a></h5>
              <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id neque quam. Aliquam sollicitudin egestas dui nec, fermentum diam. Vivamus vel tincidunt libero, vitae elementum ligula venenatis ipsum ac feugiat. Vestibulum ullamcorper sodales nisi nec condimentum</p>
              <p><span class="label m-r"> Tags:</span> <a href class="m-r-sm">admin</a> <a href>app</a>
              </p>
            </div>
          </li>
          <li class="list-item">
            <div class="clear">
              <h5 class="m-0 m-b-sm"><a href>Morbi nec nunc condimentum, egestas dui nec, fermentum diam</a></h5>
              <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id neque quam. Aliquam sollicitudin egestas dui nec, fermentum diam. Vivamus vel tincidunt libero, vitae elementum ligula venenatis ipsum ac feugiat. Vestibulum ullamcorper sodales nisi nec condimentum</p>
              <p><span class="label m-r"> Tags:</span> <a href class="m-r-sm">admin</a> <a href>app</a>
              </p>
            </div>
          </li>
          <li class="list-item">
            <div class="clear">
              <h5 class="m-0 m-b-sm"><a href>Vestibulum ullamcorper sodales nisi nec condimentum Mauris convallis</a></h5>
              <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id neque quam. Aliquam sollicitudin egestas dui nec, fermentum diam. Vivamus vel tincidunt libero, vitae elementum ligula venenatis ipsum ac feugiat. Vestibulum ullamcorper sodales nisi nec condimentum</p>
              <p><span class="label m-r"> Tags:</span> <a href class="m-r-sm">admin</a> <a href>app</a>
              </p>
            </div>
          </li>
        </ul>
        <div class="p-x">
          <ul class="pagination">
            <li><a href><i class="fa fa-chevron-left"></i></a></li>
            <li class="active"><a href>1</a></li>
            <li><a href>2</a></li>
            <li><a href>3</a></li>
            <li><a href>4</a></li>
            <li><a href>5</a></li>
            <li><a href><i class="fa fa-chevron-right"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="tab-pane p-v-sm" id="tab_2">
      <div class="m-t">
        <div ui-include="'../views/blocks/widget.friends.html'"></div>
      </div>
    </div>
  </div>
</div>
