<div class="nav-fold">
	<a href="#/app/page/profile" ui-sref="app.page.profile" >
	    <span class="pull-left">
	      <img src="framework/themes/flatui/assets/images/a2.jpg" alt="..." class="w-40 r">
	    </span>
	    <span class="clear hidden-folded p-x">
	      <span class="block _500">Jack Perez</span>
	      <small class="block text-muted">Administrator</small>
	    </span>
	</a>
</div>
