<div class="footer p-a p-x-md">
	<div class="row">
		<div class="col-md-2 clearfix">
			<div ui-include="'../views/blocks/navbar.brand.html'"></div>
		</div>
		<div class="col-md-10">
			<div class="text-md-right text-sm-left p-y">
				<span class="text-muted">Get in touch</span>
				<span class="h6 m-r-md">contacts@company.com</span>

				<span class="text-muted">Free call</span>
				<span class="h6">200-345-980</span>
			</div>
		</div>
	</div>
	<div class="b b-b m-t-sm m-b-md"></div>
	<div class="row">
		<div class="col-md-6 col-lg-3">
			<h6 class="text-u-c m-b">About us</h6>
			<div class="m-b-md">
				<p class="text-muted">Bootstrap 4 web application ui kit for your next project, with 9 categories, 6 layouts and 100+ components.</p>
				<div class="m-v-lg">
					<a href class="btn btn-icon btn-social rounded btn-sm indigo">
						<i class="fa fa-facebook"></i>
						<i class="fa fa-facebook"></i>
					</a>
					<a href class="btn btn-icon btn-social rounded btn-sm blue">
						<i class="fa fa-twitter"></i>
						<i class="fa fa-twitter"></i>
					</a>
					<a href class="btn btn-icon btn-social rounded btn-sm red">
						<i class="fa fa-google-plus"></i>
						<i class="fa fa-google-plus"></i>
					</a>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-lg-3">
			<h6 class="text-u-c m-b">Latest posts</h6>
			<div class="post-list m-b-md text-{{app.setting.theme.primary}}-hover">
				<div class="post-item clearfix m-b">
					<a href class="pull-left m-r">
						<img src="framework/themes/flatui/assets/images/b0.jpg" class="w-xxs">
					</a>
					<div class="clear">
						<div class="post-title _600"><a href>Quodsi ipsam hostm undique  atque absolutam</a></div>
						<div class="post-meta text-muted text-xs">
							<em>8/7 2015</em>
						</div>
					</div>
				</div>
				<div class="post-item clearfix m-b">
					<a href class="pull-left m-r">
						<img src="framework/themes/flatui/assets/images/b1.jpg" class="w-xxs">
					</a>
					<div class="clear">
						<div class="post-title _600"><a href>Cum salvum esse flentes sui ose sleseo</a></div>
						<div class="post-meta text-muted text-xs">
							<em>8/7 2015</em>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-lg-3">
			<h6 class="text-u-c m-b">Tweets</h6>
			<div class="m-b-md">
				<em class="text-muted text-xs m-b-sm block">April, 8, 2015</em>
				<p>Morbi nec <a href class="text-{{app.setting.theme.primary}}">@Jonathan</a> George nunc condimentum ipsum dolor sit amet, consectetur</p>
			</div>
		</div>
		<div class="col-md-6 col-lg-3">
			<h6 class="text-u-c m-b">Photo</h6>
			<div class="clearfix m-b-md">
				<a href class="pull-left"><img src="framework/themes/flatui/assets/images/b2.jpg" alt="." class="w-xxs"></a>
				<a href class="pull-left"><img src="framework/themes/flatui/assets/images/b3.jpg" alt="." class="w-xxs"></a>
				<a href class="pull-left"><img src="framework/themes/flatui/assets/images/b4.jpg" alt="." class="w-xxs"></a>
				<a href class="pull-left"><img src="framework/themes/flatui/assets/images/b5.jpg" alt="." class="w-xxs"></a>
				<a href class="pull-left"><img src="framework/themes/flatui/assets/images/b6.jpg" alt="." class="w-xxs"></a>
				<a href class="pull-left"><img src="framework/themes/flatui/assets/images/b7.jpg" alt="." class="w-xxs"></a>
				<a href class="pull-left"><img src="framework/themes/flatui/assets/images/b8.jpg" alt="." class="w-xxs"></a>
				<a href class="pull-left"><img src="framework/themes/flatui/assets/images/b9.jpg" alt="." class="w-xxs"></a>
			</div>
		</div>
	</div>
	
	<div class="row m-b m-t-lg footer-bottom">
		<div class="col-sm-8">
			<div class="nav text-sm">
              <a class="nav-link m-r" href>
                <span>Home</span> 
              </a>
              <a class="nav-link m-r" href>
                <span>Shop</span> 
              </a>
              <a class="nav-link m-r" href>
                <span>Blog</span> 
              </a>
              <a class="nav-link m-r" href>
                <span>Service</span> 
              </a>
              <a class="nav-link m-r" href>
                <span>About us</span> 
              </a>
              <a class="nav-link m-r" href>
                <span>Contact</span> 
              </a>
	        </div>
        </div>
        <div class="col-sm-4">
        	<div class="text-sm-right text-xs-left">
        		<small class="text-muted">&copy; Copyright 2015. All rights reserved.</small>
        	</div>
        </div>
	</div>
</div>
