<!-- brand -->
<a class="navbar-brand">
	<div ui-include="'framework/themes/flatui/assets/images/logo.svg'"></div>
	<img src="framework/themes/flatui/assets/images/logo.png" alt="." class="hide">
</a>
<!-- / brand -->
