<!-- brand -->
<a class="navbar-brand">
	<div ui-include="'framework/themes/flatui/assets/images/logo.svg'"></div>
	<img src="framework/themes/flatui/assets/images/logo.png" alt="." class="hide">
	<span class="hidden-folded inline v-m">
		{{app.name}}
		<span class="text-xs text-muted _300 block m-t-xs tagline">awesome uikit</span>
	</span>
</a>
<!-- / brand -->
