  <div class="navbar navbar-toggleable-sm flex-row align-items-center">
        <a data-toggle="collapse" data-target="#navbar-4" class="navbar-item hidden-md-up mr-3">
          <i class="material-icons">&#xe5d2;</i>
        </a>
        <div ui-include="'../views/blocks/navbar.brand.html'"></div>

        <!-- navbar collapse -->
        <div class="collapse navbar-collapse" id="navbar-4">
          <!-- link and dropdown -->
          <ul class="nav navbar-nav m-r">
            <li class="nav-item dropdown dropdown-submenu pos-stc">
              <a href class="nav-link dropdown-toggle" data-toggle="dropdown">
                <span>Mega</span>
              </a>
              <div ui-include="'../views/blocks/dropdown.mega.html'"></div>
            </li>
            <li class="nav-item dropdown dropdown-submenu">
              <a class="nav-link dropdown-toggle" href data-toggle="dropdown">
                <span>Submenu</span>
              </a>
              <div ui-include="'../views/blocks/dropdown.sub.html'"></div>
            </li>
          </ul>
          <!-- / link and dropdown -->
          <div ui-include="'../views/blocks/navbar.form.html'"></div>
        </div>
        <!-- / navbar collapse -->


        <!-- nabar -->
        <ul class="nav navbar-nav flex-row align-items-center ml-auto">
          <li class="nav-item">
            <a class="nav-link" href>
              <i class="material-icons">&#xe877;</i>
              <span class="label up p-a-0 primary"></span>
            </a>
          </li>
          <li class="nav-item dropdown">
            <a href class="nav-link" data-toggle="dropdown">
              <i class="material-icons">&#xe5c3;</i>
              <span class="label up p-a-0 accent"></span>
            </a>
            <div ui-include="'../views/blocks/dropdown.grid.html'"></div>
          </li>
          <li class="nav-item dropdown">
            <a href class="nav-link" data-toggle="dropdown">
              <i class="material-icons">&#xe7f5;</i>
              <span class="label up p-a-0 warn"></span>
            </a>
            <div ui-include="'../views/blocks/dropdown.notification.html'"></div>
          </li>
          <li class="nav-item dropdown">
            <a href class="nav-link dropdown-toggle text-ellipsis" data-toggle="dropdown">
              <span class="avatar w-32">
                <img src="framework/themes/flatui/assets/images/a2.jpg" alt="...">
                <i class="busy b-white right"></i>
              </span>
            </a>
            <div ui-include="'../views/blocks/dropdown.user.html'"></div>
          </li>
        </ul>
        <!-- / navbar -->
  </div>
