<div class="row row-sm">
  <div class="col-xs-6 col-lg-4">
    <div class="list-item box r m-b">
      <a herf class="list-left">
        <span class="w-40 avatar">
          <img src="framework/themes/flatui/assets/images/a0.jpg" alt="...">
          <i class="on b-white bottom"></i>
        </span>
      </a>
      <div class="list-body">
        <div class="text-ellipsis"><a href>Crystal Guerrero</a></div>
        <small class="text-muted text-ellipsis">Designer, Blogger</small>
      </div>
    </div>
  </div>
  <div class="col-xs-6 col-lg-4">
    <div class="list-item box r m-b">
      <a herf="" class="list-left">
        <span class="w-40 avatar">
          <img src="framework/themes/flatui/assets/images/a1.jpg" alt="...">
          <i class="on b-white bottom"></i>
        </span>
      </a>
      <div class="list-body">
        <div class="text-ellipsis"><a href>James Garcia</a></div>
        <small class="text-muted text-ellipsis">Writter, Mag Editor</small>
      </div>
    </div>
  </div>
  <div class="col-xs-6 col-lg-4">
    <div class="list-item box r m-b">
      <a herf="" class="list-left">
        <span class="w-40 avatar">
          <img src="framework/themes/flatui/assets/images/a2.jpg" alt="...">
          <i class="away b-white bottom"></i>
        </span>
      </a>
      <div class="list-body">
        <div class="text-ellipsis"><a href>Jean Schneider</a></div>
        <small class="text-muted text-ellipsis">Designer, Blogger</small>
      </div>
    </div>
  </div>
  <div class="col-xs-6 col-lg-4">
    <div class="list-item box r m-b">
      <a herf="" class="list-left">
        <span class="w-40 avatar">
          <img src="framework/themes/flatui/assets/images/a3.jpg" alt="...">
          <i class="busy b-white bottom"></i>
        </span>
      </a>
      <div class="list-body">
        <div class="text-ellipsis"><a href>Joe Holmes</a></div>
        <small class="text-muted text-ellipsis">Designer, Blogger</small>
      </div>
    </div>
  </div>
  <div class="col-xs-6 col-lg-4">
    <div class="list-item box r m-b">
      <a herf="" class="list-left">
        <span class="w-40 avatar">
          <img src="framework/themes/flatui/assets/images/a4.jpg" alt="...">
          <i class="on b-white bottom"></i>
        </span>
      </a>
      <div class="list-body">
        <div class="text-ellipsis"><a href>Judith Garcia</a></div>
        <small class="text-muted text-ellipsis">Writter, Mag Editor</small>
      </div>
    </div>
  </div>
  <div class="col-xs-6 col-lg-4">
    <div class="list-item box r m-b">
      <a herf="" class="list-left">
        <span class="w-40 avatar">
          <img src="framework/themes/flatui/assets/images/a5.jpg" alt="...">
          <i class="on b-white bottom"></i>
        </span>
      </a>
      <div class="list-body">
        <div class="text-ellipsis"><a href>Judy Woods</a></div>
        <small class="text-muted text-ellipsis">Designer, Blogger</small>
      </div>
    </div>
  </div>
  <div class="col-xs-6 col-lg-4">
    <div class="list-item box r m-b">
      <a herf="" class="list-left">
        <span class="w-40 avatar">
          <img src="framework/themes/flatui/assets/images/a6.jpg" alt="...">
          <i class="on b-white bottom"></i>
        </span>
      </a>
      <div class="list-body">
        <div class="text-ellipsis"><a href>OlsJesse Russell</a></div>
        <small class="text-muted text-ellipsis">Designer, Blogger</small>
      </div>
    </div>
  </div>
  <div class="col-xs-6 col-lg-4">
    <div class="list-item box r m-b">
      <a herf="" class="list-left">
        <span class="w-40 avatar">
          <img src="framework/themes/flatui/assets/images/a7.jpg" alt="...">
          <i class="away b-white bottom"></i>
        </span>
      </a>
      <div class="list-body">
        <div class="text-ellipsis"><a href>Richard Carr</a></div>
        <small class="text-muted text-ellipsis">Writter, Mag Editor</small>
      </div>
    </div>
  </div>
  <div class="col-xs-6 col-lg-4">
    <div class="list-item box r m-b">
      <a herf="" class="list-left">
        <span class="w-40 avatar">
          <img src="framework/themes/flatui/assets/images/a8.jpg" alt="...">
          <i class="busy b-white bottom"></i>
        </span>
      </a>
      <div class="list-body">
        <div class="text-ellipsis"><a href>Sara King</a></div>
        <small class="text-muted text-ellipsis">Designer, Blogger</small>
      </div>
    </div>
  </div>
  <div class="col-xs-6 col-lg-4">
    <div class="list-item box r m-b">
      <a herf="" class="list-left">
        <span class="w-40 circle amber avatar">
          D
          <i class="busy b-white bottom"></i>
        </span>
      </a>
      <div class="list-body">
        <div class="text-ellipsis"><a href>Douglas Torres</a></div>
        <small class="text-muted text-ellipsis">Blogger</small>
      </div>
    </div>
  </div>
  <div class="col-xs-6 col-lg-4">
    <div class="list-item box r m-b">
      <a herf="" class="list-left">
        <span class="w-40 circle blue">
          J
        </span>
      </a>
      <div class="list-body">
        <div class="text-ellipsis"><a href>Jeremy Scott</a></div>
        <small class="text-muted text-ellipsis">Blogger</small>
      </div>
    </div>
  </div>
  <div class="col-xs-6 col-lg-4">
    <div class="list-item box r m-b">
      <a herf="" class="list-left">
        <span class="w-40 circle green">M</span>
      </a>
      <div class="list-body">
        <div class="text-ellipsis"><a href>Melissa Garza</a></div>
        <small class="text-muted text-ellipsis">Blogger</small>
      </div>
    </div>
  </div>
</div>
