@media print
{
  body, html{ font-size:90%; }
  body{font-family:"Times New Roman", Times, serif;}
  .page-break  { display:block; page-break-before:always; }
  .nfp, .dp, .nfpi *{ display:none; }
  .letter-head{display:block !important;}
  .report, .grid {font-size:12px; color:#000 !important;}	
  table {border-collapse:collapse !important; color:#000 !important;}
  .grid td, .grid th{border:solid 1px #555 !important; color:#000 !important;
	border-radius: 0 0 0 0;
	-moz-border-radius: 0 0 0 0;
	-webkit-border-radius: 0 0 0 0;
	-khtml-border-radius: 0 0 0 0;}
}
.letter-head{
	display:none;
}
body{
	margin:5px;
	padding:0px;
}
#login-wrapper{
	position:absolute;
	left:5px;
	right:5px;
	top:5px;
	bottom:5px;
	padding: 7px 6px 0;
	background: #069;
	text-align:center;
}
#login-form{
	display:none;
	position:absolute;
	background:url(../images/login-back.png) no-repeat;
	width:464px;
	height:270px;
	color:#fff;
	padding:20px 0;
}
#login-form input[type="text"], #login-form input[type="password"]{
	background:url(../images/input-back.png) no-repeat;
	width:230px;
	height:37px;
	border:none;
	padding: 0 10px;
	color:#ffffef;
	font-weight:bold;
}
#login-form input[type="submit"]{
	background:url(../images/login-button-back.png) no-repeat;
	width:126px;
	height:38px;
	border:none;
	cursor:pointer;
	color:#fff;
}
#header{
	position:fixed;
	left:5px;
	right:5px;
	padding: 7px 6px 0;
	background: #069 url(../images/gradient.png) repeat-x 0 -110px;
	height:40px;
	
	border-radius: 1em 1em 0 0;
	-webkit-border-radius: 1em 1em 0 0;
	-moz-border-radius: 1em 1em 0 0;
	
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0, .4);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0, .4);
	z-index:999 !important;
}
#search-wrapper{
	position:fixed;
	right:10px;	
	top:10px;
	height:28px;
	padding: 5px 0 5px 20px;
	width:190px;
	background: #025c89;
	border-radius: 0 1em 0 1em;
	-webkit-border-radius: 0 1em 0 1em;
	-moz-border-radius: 0 1em 0 1em;
}
#search-wrapper input{
	height:27px;
	background:#5aa2c6;
	border:none;
	color:#fff;
	font-weight:bold;
}
#search-wrapper div{
	position:absolute;
	top:5px;
	right:5px;
	height:32px;
	width:50px;
	background-image:url(../ico/search.png);
	background-position:right;
	background-repeat:no-repeat;
}

#controls-wrapper{
	position: absolute;
	top:47px;
	height:25px;
	left: 5px;
	right: 5px;
	padding:10px 5px 5px 5px;
	color:#fff;
	background: #069;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0, .4);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0, .4);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0, .4);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0, .4);
}

#controls-wrapper div{
	position:absolute;
}
#title{
	left:10px;
}
#page-title{
	left:50%;
}
#page-title div{
	position:relative;
	left:-50%;
	white-space:nowrap;
}
#controls{
	right:10px;	
}
.control{
	padding-left:10px;	
}

#content-wrapper{
	position: absolute;
	bottom: 5px;
	left: 5px;
	right: 5px;
	top: 92px;
	overflow-y:auto;
	overflow-x:auto;
	padding:10px 5px 5px 5px;
	color:#fff;
	
	background: #069;
	border-radius: 0 0 1em 1em;
	-webkit-border-radius: 0 0 1em 1em;
	-moz-border-radius: 0 0 1em 1em;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0, .4);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0, .4);
}
#content-wrapper a{
	color:#000;
}
.pane{
	display:inline-block;
	min-width:350px;
}

/************** Messages ***************/
.error{
	color:#ffA605;
}

/********************************* NAVIGATION ************************/
#nav {
	margin: 0;
	line-height: 100%;
}
#nav a {
	color: #333;
}
#nav li {
	margin: 0 5px;
	padding: 0 0 8px;
	float: left;
	position: relative;
	list-style: none;
}


/* main level link */
#nav a {
	font-weight: bold;
	color: #e7e5e5;
	text-decoration: none;
	display: block;
	padding:  8px 20px;
	margin: 0;

	-webkit-border-radius: 1.6em;
	-moz-border-radius: 1.6em;
	
	text-shadow: 0 1px 1px rgba(0,0,0, .3);
}
#nav a:hover {
	background: #000;
	color: #fff;
}

/* main level link hover */

#nav .current a, #nav li:hover > a {
	background: url(../images/gradient.png) repeat-x 0 -40px;
	color: #444;
	border-top: solid 1px #f8f8f8;

	-webkit-box-shadow: 0 1px 1px rgba(0,0,0, .2);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0, .2);
	box-shadow: 0 1px 1px rgba(0,0,0, .2);

	text-shadow: 0 1px 0 rgba(255,255,255, 1);
}

/* sub levels link hover */
#nav ul li:hover a, #nav li:hover li a {
	background: none;
	border: none;
	color: #069;

	-webkit-box-shadow: none;
	-moz-box-shadow: none;
}
#nav ul a:hover {
	background: #0078ff url(../images/gradient.png) repeat-x 0 -100px !important;
	color: #fff !important;

	-webkit-border-radius: 0;
	-moz-border-radius: 0;

	text-shadow: 0 1px 1px rgba(0,0,0, .1);
}

/* dropdown */
#nav li:hover > ul {
	display: block;
}

/* level 2 list */
#nav ul {
	display: none;
	width:auto;
	min-width:180px;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 35px;
	left: 0;
	background: #ddd url(../images/gradient.png) repeat-x 0 0;
	border: solid 1px #b4b4b4;

	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;

	-webkit-box-shadow: 0 1px 3px rgba(0,0,0, .3);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0, .3);
	box-shadow: 0 1px 3px rgba(0,0,0, .3);
}
#nav ul li {
	width:auto;
	float: none;
	margin: 0;
	padding: 0;
	white-space:nowrap;
}

#nav ul a {
	font-weight: normal;
	text-shadow: 0 1px 0 #fff;
}

/* level 3+ list */
#nav ul ul {
	left: 181px;
	top: -3px;
}

/* rounded corners of first and last link */
#nav ul li:first-child > a {
	-webkit-border-top-left-radius: 9px;
	-moz-border-radius-topleft: 9px;

	-webkit-border-top-right-radius: 9px;
	-moz-border-radius-topright: 9px;
}
#nav ul li:last-child > a {
	-webkit-border-bottom-left-radius: 9px;
	-moz-border-radius-bottomleft: 9px;

	-webkit-border-bottom-right-radius: 9px;
	-moz-border-radius-bottomright: 9px;
}

/* clearfix */
#nav:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
#nav {
	display: inline-block;
} 
html[xmlns] #nav {
	display: block;
}
 
* html #nav {
	height: 1%;
}

/*********************************  GRID AND FORMS ************************************************************/
.grid{
	border-collapse:collapse;
}
.grid td, .grid th{
	padding:0 5px 0 5px;
	height:30px;
	color:#000;
}
.grid tr:nth-child(even) td{
	background:#FFF;
}
.grid tr:nth-child(odd) td{
	background:#eeeeff;
}
.grid tr:hover td{
	background:#ddddff;
}
.grid a{
	color:#000;	
}

.head, .grid tr:first-child{
	background:#09F;
	font-weight:bold;	
}
.tail, .grid tr:last-child{
	background:#09C;	
}
.heading{
	background:#eeeeff;
	padding:5px;
	padding-left:15px;
	color:#000;
}
/*************************** INVOICE / RECEIPTs *********************************/
#invoice-header input, #receipt-header input, #refund-header input, #invoice-header textarea{
	border:none;
	background:#DFE8FF;
	resize: none;
}
#invoice-header textarea{
	width:196px;
}
#invoice-body input{	
	border:none;
	background:#DFE8FF;
	width:100px;
}
#invoice-remarks{
	border: none;
	resize: none;
	background: #DFE8FF;
	width: 425px;
	height: 118px;
}
#invoice-body input[disabled="disabled"]{
	background:#efefef;	
}
.receipt-body input, .refund-body input{
	width:530px;	
	border:none;
	background:#DFE8FF;
}
/*********************************  Context Menu ************************************************************/
.context-menu-list {
    margin:0; 
    padding:0;
    
    min-width: 120px;
    max-width: 250px;
    display: inline-block;
    position: absolute;
    list-style-type: none;
    
    border: 1px solid #DDD;
    background: #EEE;
    
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
       -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
        -ms-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
         -o-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
}

.context-menu-item {
    padding: 2px 2px 2px 24px;
    background-color: #EEE;
    position: relative;
    -webkit-user-select: none;
       -moz-user-select: -moz-none;
        -ms-user-select: none;
            user-select: none;
}

.context-menu-separator {
    padding-bottom:0;
    border-bottom: 1px solid #DDD;
}

.context-menu-item > label > input,
.context-menu-item > label > textarea {
    -webkit-user-select: text;
       -moz-user-select: text;
        -ms-user-select: text;
            user-select: text;
}

.context-menu-item.hover {
    cursor: pointer;
    background-color: #39F;
}

.context-menu-item.disabled {
    color: #666;
}

.context-menu-input.hover,
.context-menu-item.disabled.hover {
    cursor: default;
    background-color: #EEE;
}

.context-menu-submenu:after {
    content: ">";
    color: #666;
    position: absolute;
    top: 0;
    right: 3px;
    z-index: 1;
}

/* icons
    #protip:
    In case you want to use sprites for icons (which I would suggest you do) have a look at
    http://css-tricks.com/13224-pseudo-spriting/ to get an idea of how to implement 
    .context-menu-item.icon:before {}
 */
.context-menu-item.icon { min-height: 18px; background-repeat: no-repeat; background-position: 4px 2px; }
.context-menu-item.icon-edit { background-image: url(../ico/page_white_edit.png); }
.context-menu-item.icon-cut { background-image: url(../ico/cut.png); }
.context-menu-item.icon-copy { background-image: url(../ico/page_white_copy.png); }
.context-menu-item.icon-paste { background-image: url(../ico/page_white_paste.png); }
.context-menu-item.icon-delete { background-image: url(../ico/page_white_delete.png); }
.context-menu-item.icon-add { background-image: url(../ico/page_white_add.png); }
.context-menu-item.icon-quit { background-image: url(../ico/door.png); }

/* vertically align inside labels */
.context-menu-input > label > * { vertical-align: top; }

/* position checkboxes and radios as icons */
.context-menu-input > label > input[type="checkbox"],
.context-menu-input > label > input[type="radio"] {
    margin-left: -17px;
}
.context-menu-input > label > span {
    margin-left: 5px;
}

.context-menu-input > label,
.context-menu-input > label > input[type="text"],
.context-menu-input > label > textarea,
.context-menu-input > label > select {
    display: block;
    width: 100%;
    
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
         -o-box-sizing: border-box;
            box-sizing: border-box;
}

.context-menu-input > label > textarea {
    height: 100px;
}
.context-menu-item > .context-menu-list {
    display: none;
    /* re-positioned by js */
    right: -5px;
    top: 5px;
}

.context-menu-item.hover > .context-menu-list {
    display: block;
}

.context-menu-accesskey {
    text-decoration: underline;
}


/******************** JQUERY UI ******************/
.ui-accordion-header{
	background-image:none !important;
}

/****************** General*************/
a img{
	border:none;
}
#shortcuts, #shortcuts td, #shortcuts a:visited, #shortcuts a:link{
	/*text-align:center;*/
	color:#fff;
	font-size:1em;
	font-weight:bold;
	text-decoration:none;
	padding:0px 10px;
}
#shortcuts img{
	width:80px;
}
.service-list input{
	font-size: 10px;
}
.workspace{	
	margin-right:20px;	
}
.workspace td{
	width:400px;
	box-shadow: 1px 1px 0 #8bf;
	border: solid 5px #8b8;
	color:#fff;
	cursor:pointer;
}
#workspace-container h3 a{
	font-size:15px !important;
	color:#fff !important;
}
.accordion div{
	height:auto !important;
}
.ptr{
	cursor:pointer;
}
.prnt, .prntr{
	width:675px;
	table-layout:fixed;
	border-collapse:collapse;	
}
/***************** CURVE********************/
.curved{
  behavior:url(border-radius.htc);
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
}
.curved5{
  behavior:url(border-radius.htc);
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
}
.curved-top{
  behavior:url(border-radius.htc);
  border-radius: 10px 10px 0px 0px;
  -moz-border-radius: 10px 10px 0px 0px;
  -webkit-border-radius: 10px 10px 0px 0px;
  -khtml-border-radius: 10px 10px 0px 0px;
}
.curved-bottom{
  behavior:url(border-radius.htc);
  border-radius: 0px 0px 10px 10px;
  -moz-border-radius: 0px 0px 10px 10px;
  -webkit-border-radius: 0px 0px 10px 10px;
  -khtml-border-radius: 0px 0px 10px 10px;
}
.curved-right{
  behavior:url(border-radius.htc);
  border-radius: 0px 10px 10px 0px;
  -moz-border-radius: 0px 10px 10px 0px;
  -webkit-border-radius: 0px 10px 10px 0px;
  -khtml-border-radius: 0px 10px 10px 0px;
}
.curved-left{
  behavior:url(border-radius.htc);
  border-radius: 10px 0px 0px 10px;
  -moz-border-radius: 10px 0px 0px 10px;
  -webkit-border-radius: 10px 0px 0px 10px;
  -khtml-border-radius: 10px 0px 0px 10px;
}

.curved-corner{
  behavior:url(border-radius.htc);
  border-radius: 10px 0px 10px 0px;
  -moz-border-radius: 10px 0px 10px 0px;
  -webkit-border-radius: 10px 0px 10px 0px;
  -khtml-border-radius: 10px 0px 10px 0px;
}

.small{
	font-size:small !important;
	width:30px;
}
.rht{
	text-align:right !important;
}
.lft{
	text-align:left !important;
}
.cntr{
	text-align:center !important;
}
.top{
	vertical-align:top !important;
}
.btm{
	vertical-align:bottom !important;
}
.mdl{
	vertical-align:middle !important;
}
.in{
	display:inline-block !important;
}
.whtb{
	background:#fff !important;	
}
.blkc{
	color:#000 !important;	
}
.frht{
	float:right;
}
.flft{
	float:left;
}
.bold{
	font-weight:bold;
}

* {
    -webkit-box-sizing: inherit !important;
    -moz-box-sizing: inherit !important;
    box-sizing: inherit !important;
}

hr {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
input, select{
	height: 20px !important;
}