html, body{
  /*font-family: Century Gothic !important;*/
  font-family: 'Montserrat', sans-serif;
  color: #626262;
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}
@media (min-width:768px){

}
/* Primary: #E3A917 */;
.navbar-container:not(.fixed-theme){
  padding-top: 40px;
}
.navbar-default .navbar-nav > li.to-section > a:focus, .navbar-default .navbar-nav > li.to-section > a:hover {
    background-color: #fff;
    border-radius: 10px;
}
.navbar li{
  /*text-shadow: 1px 1px 6px #E3A917;*/
}
.navbar{
  z-index: 99;
  /*font-family: Century Gothic Bold !important;*/
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}
.navbar-default {
  background-color: rgba(255,250,250, 0);
  border: none;
}
.navbar-brand img{
  margin-top: -10px;
  height: 80px;
}
.navbar-fixed-top:not(.fixed-theme) a, .navbar-nav>li>a{
  /*font-family: Century Gothic Bold !important;*/
  font-family: 'Montserrat', sans-serif;
  /*color: #E3A917 !important;*/
  color: #000 !important;
}
.navbar-fixed-top .dropdown-menu{
  /*background-color: none;*/
  background-color: rgba(255,255,255,.8) !important;
}
.nav a{
  font-weight: bold;
  text-transform: uppercase;
}
.navbar-nav>li>a{
  line-height: 60.5px !important;
}
.nav>li>a:focus, .nav>li>a:hover, .nav>li>a.active{
  background-color: #E3A917 !important;
  color: #fff !important;
  border-radius: 0 0 3px 3px;
}
.nav>li>a.active{
  color: #fff !important
}
a.dropdown-item:hover {
    color: #fff !important;
}
/*.fixed-theme a{
  color: #E3A917 !important;
}
.fixed-theme a:hover{
  color: #fff !important;
}
.navbar.navbar-fixed-top.fixed-theme {
  background-color: #fff;
  color: #111 !important;
}
.fixed-theme .dropdown-menu{
  background-color: #fff !important;
}*/
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: -55px;
}
ul.nav.navbar-nav.navbar-right{
  /*margin-top: 20px;*/
}
nav#header{
  background-color: rgba(255,255,255,.8);
  box-shadow: 0 0 0 1px rgba(0,0,0,.1);
  height: 90px;
}
div#header-container{
  padding: 0px;
}
nav .dropdown-menu{
  background: none !important;
  border: none !important;
  padding: 0px;
}
.dropdown:hover .dropdown-menu, .dropdown:focus .dropdown-menu{
  display: block;
  right: auto;
  left: 0;
  border-radius: 10px;
}
.dropdown-menu>li>a{
  border-radius: 10px;
  padding: 15px;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
  text-decoration: none;
  background-color: #E3A917;
}

.item-country{
  padding: 3px 20px !important;
}
.btn-group>.dropdown-menu{
  margin: 0px !important;
}

.navbar-brand.fixed-theme {
    font-size: 18px;
}

.navbar-container.fixed-theme {
    padding: 0;
}

.navbar-brand.fixed-theme,
.navbar-container.fixed-theme,
.navbar.navbar-fixed-top.fixed-theme,
.navbar-brand,
.navbar-container{
    transition: 0.8s;
    -webkit-transition:  0.8s;
}
.main-slider .owl-prev,.main-slider .owl-next {
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 100px;
  /*background-image: url(http://simpleicon.com/wp-content/uploads/arrow-16.png);
  background: rgba(255,255,255,.1);*/
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
}
.main-slider .owl-prev{ 
  left: 0px;  
  background: url(assets/arrow.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 25px;
  background-position: center;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.main-slider .owl-next{
  right: 0px;
  background: url(assets/arrow.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 25px;
  background-position: center;
}
.main-slider .owl-prev:hover {
  /*border-right: 100px solid rgba(100,100,100,.1);*/
}
.main-slider .owl-next:hover {
  /*border-left: 100px solid rgba(100,100,100,.1);*/
}
.main-slider .slides {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
.separator{
  height: 80px;
  /*height: 50px;*/
  color: #fee;
}
.separator1{
  /*height: 80px;*/
  color: #fee;
  /*background: rgba(255,255,255, .2);*/
}
.separator2{
  height: 80px;
  color: #fee;
}
.loader{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  z-index: 999;
  background: #fff;
}
.features-section{
  display: none;
}
section{
  /*color: rgb(98, 98, 98);*/
  /*font-family: "Open Sans", sans-serif;*/
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  display: table;
  margin: 0;
  max-width: none;
  height: 100vh;
  padding-top: 30px;
  padding-bottom: 20px;
}
section.home:not(#services){
  height: auto !important;
}
.partner_signup{  
  height: auto !important;
}
    
.section-title{
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  margin-top: 0;
  margin-bottom: 22px;
  font-family: 'Montserrat',sans-serif;
  font-size: 30px;
}
#services{
  /*background: url(assets/services.jpg);*/
  background-size: cover;
}
#services i{
  font-size: 40px !important;
  margin-bottom: 15px !important;
}
#services h5{
  text-transform: uppercase;
  font-size: 13px;
}
.separator-line {
    height: 2px;
    margin-left: 0px !important;
    width: 30px;
    margin: 4% auto;
}
.bg-yellow {
    background: #e6af2a !important;
}
.bg-blue {
    background: #E3A917 !important;
}
.waypoint>h2, .waypoint>p{
  display: none;
}
.custom-button.hotel-partner {
    background-position: 10px 0;
    background-repeat: no-repeat;
}
.custom-button.client-partner {
    background-position: 10px 0;
    background-repeat: no-repeat;
}
.custom-button.warning {
    /*background-color: #E3A917;*/
    background-color: rgb(0,60,108);
}
.custom-button {
    display: block;
    padding: 30px 20px 24px 20px;
    color: #FFF;
    text-decoration: none;
    text-align: center;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    background: no-repeat left center;
    margin-bottom: 10px;
}

/*.glow{
  text-decoration: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  color: #E3A917;
  font-family: Monoton;
  -webkit-animation: neon1 1s ease-in-out infinite alternate;
  -moz-animation: neon1 1s ease-in-out infinite alternate;
  animation: neon1 1s ease-in-out infinite alternate;
}

@-webkit-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #bbf, 0 0 20px #bbf, 0 0 30px #bbf, 0 0 40px #eef, 0 0 70px #eef, 0 0 80px #eef, 0 0 100px #eef, 0 0 150px #eef;
  }
  to {
    text-shadow: 0 0 5px #bbf, 0 0 10px #bbf, 0 0 15px #bbf, 0 0 20px #eef, 0 0 35px #eef, 0 0 40px #eef, 0 0 50px #eef, 0 0 75px #eef;
  }
}*/
.bounce {
  -webkit-animation: bounce 2s infinite;
  -moz-animation: bounce 2s infinite;
  -ms-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}
.move {
  width: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}
.home-bottom {
  position: absolute;
  z-index: 99;
  width: 100%;
  left: 0;
  bottom: 0;
  text-align: center;
  opacity: 0.9;
}
.pages-bottom {
  position: relative;
  z-index: 99;
  width: 100%;
  left: 0;
  bottom: 50px;
  text-align: center;
  opacity: 0.9;
}
.cover-image-text{
  position: absolute;
  bottom: 100px;
  left: 100px;
  color: #fff;
  font-size: 55px;
  width: 500px;
}

.cover{
  display: table;
  width: 100%;
}
.cover h1{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  /*white-space: nowrap;*/
  text-shadow: 0 0 1px #999;
  font-size: 5em;
  padding: 0 30px;
}

#team-members{
  padding: 15px 0px;
  text-align: center;
}
#team-members .row{
  padding-bottom: 15px;
}
.team-name{
  text-align: center;
  font-weight: bold;
}
.team-role{
  text-align: center;
  color: #aaa;
  font-size: 10px
}
.team-email{
  color: #aaa;
  text-align: center;
  font-size: 10px
}
.team-location{
  color: #aaa;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
}
.team-role:hover, .team-email:hover, .team-location:hover{
  color: #505D62;
}
.team-photo{
  text-align: center;
}
.team-photo img{
  border-radius: 50%;
  border: 10px solid #f9f9f9;
  max-width: 120px;
  max-height: 120px;
  width: 120px;
}

#packages > h4 {
    line-height: 24px;
    letter-spacing: -0.6px;
}
#packages > h4 {
    font-size: 18px;
    letter-spacing: 1px;
}
#packages > h1, #packages > h2, #packages > h3, #packages > h4, #packages > h5, #packages > h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    line-height: 1;
    color: #1c1c1c;
}

.top-footer .block{
  padding: 20px 40px;
  /*color: #888 !important;*/
}
.cover-page-text-1{
  color: #E3A917;
  text-shadow: 0 0 10px #000;
  font-weight: bold;
}
.cover-page-text-2{
  color: #fff;
  text-shadow: 0 0 10px #aaa;
  font-weight: bold;
}
.cover-page-text-3{
  color: #000;
  text-shadow: 0 0 10px #aaa;
  font-weight: bold;
}
footer{
  /*background: rgb(0,60,108);*/
  background: rgb(0,0,0);
  color: #fff;
}

footer a{
  color: #fff;
}

footer a:hover, footer a:active{
  color: #F6931E;
}

footer .top-footer {
  background: none;
  /*border-top: solid 3px #eef;*/
}

footer .top-footer {
  /*padding: 30px 0 30px 0;*/
}
footer .social-network {
  /* width: 276px; */
  float: right;
}
footer .social-network ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
footer .social-network ul li {
  float: right;
  margin-left: 10px;
}
footer .social-network ul li.facebook a:hover {
  background-color: #507cbd;
}
footer .social-network ul li a:hover {
  color: #e9e9e9;
  /*background-image: url(assets/social-hover.png);*/
}
footer .social-network ul li.facebook a {
  background-position: -69px 0;
}
footer .social-network ul li a {
  /*background: #e9e9e9 url(assets/social-normal.png) no-repeat;*/
  /*display: block;
  width: 36px;
  height: 36px;
  line-height: 36px;
  font-size: 16px;
  text-align: center;
  color: #54565e;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;*/
}
footer .social-network ul li.issuu a {
  background-position: -35px;
}
footer .social-network ul li.youtube a {
  background-position: -105px;
}
footer .social-network ul li.google a {
  background-position: -140px;
}
footer .social-network ul li.twitter a {
  background-position: -175px;
}

footer h3 {
    font-size: 30px;
}

.bottom-footer{
  background: #fff !important;
  color: rgb(0,60,108) !important;
}

.no-float{
  float: none !important;
}

.primary-back {
    background-color: #E3A917;
    padding: 20px;
}
.primary{
  color: #E3A917;
}

.secondary-back {
    background-color: #fff;
    color: #000;
    padding: 20px;
}

.white {
    color: white !important;
}

.img-box, .img-box-full{
  border-radius: 10px;
  box-shadow: 0 0 10px #000;
}

.overflow-scroll{
  overflow: auto;
}

p{
  text-align: justify;
  text-justify: inter-word;
}
.social-icon{
  background: #eee;
  color: #999 !important;
  /*padding: 7px 10px;*/
  width: 35px;
  height: 35px;
  border-radius: 25px;
  text-align: center;
}
.social-icon i{
  padding: 11px !important;
}