.home, .login, .signup{
	height: calc(100vh - 62px) !important;
}
.signup{
	top: 45px;
}
.footer{
	padding: 10px 0px;
}
.index-page .page-header .container>.content-center{
	top: calc(50% + 45px);
}

.login-page .card-login.card-plain .form-group.form-group-no-border .input-group-addon,
.login-page .card-login.card-plain .input-group.form-group-no-border .input-group-addon,
.login-page .card-login.card-plain .form-group.form-group-no-border .form-control, 
.login-page .card-login.card-plain .input-group.form-group-no-border .form-control {
    background-color: rgba(0, 0, 0, 0.3) !important;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #333 !important;
    opacity: 1 !important;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #333 !important;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #333 !important;
}
[data-background-color] .form-group.form-group-no-border .form-control, [data-background-color] .input-group.form-group-no-border .form-control,
[data-background-color] .form-group.form-group-no-border .input-group-addon, [data-background-color] .input-group.form-group-no-border .input-group-addon,
[data-background-color] .form-group.form-group-no-border .form-control, [data-background-color] .input-group.form-group-no-border .form-control{
    background-color: rgba(222, 222, 222, 0.9) !important;
    color: #333 !important;
}
.navbar .navbar-nav .nav-link:not(.btn) i.fa, .navbar .navbar-nav .nav-link:not(.btn) i.now-ui-icons{
    top: 8px;
}
.card-form{
    max-width: 500px;
    margin: 0 auto;
}
.page-header.page-header-mini {
    min-height: 40vh;
    max-height: 340px;
}

.page-header.page-header-xs {
    min-height: 20vh;
    max-height: 340px;
}

.page-header.page-header-xxs {
    min-height: 10vh;
    max-height: 340px;
}
.page-header.page-header-x {
    min-height: 0px;
    max-height: 0px;
}
.w150{
    max-width: 150px !important;
    width: 150px;
}

.nav-item>a>i{
    top: 5px;
    position: relative;
}

.page-header.page-header-mini {
    min-height: 40vh;
    max-height: 340px;
}

.page-header.page-header-xs {
    min-height: 20vh;
    max-height: 340px;
}

.page-header.page-header-xxs {
    min-height: 10vh;
    max-height: 340px;
}
.w150{
    max-width: 150px !important;
    width: 150px;
}
.w125{
	width: 125px;
}
.btn-primary {
    border: solid #f96332;
    color: #ffffff !important;
}
.btn-white {
    background-color: #ffffff;
    border: solid #f96332;
    color: #f96332 !important;
}
.dropdown-toggle::after{
    content: none;
}
.pointer{
    cursor: pointer;
}
.news-page i{
    top: 8px;
    position: relative;
}
.jobs-page .btn-job-type {
    width: 45.4%;
}
.jobs_post-page .card{
    max-width: 80% !important;
}
.title-up{
    color: #f96332 !important;
}
.inline-block{ display: inline-block; }
.bold{ font-weight: bold; }
.font-10{ font-size: 10px !important; }
.font-28{ font-size: 28px !important; }
.font-32{ font-size: 32px !important; }

.width-24{width: 24px;}