/* CSS Document */
.latter input[type="text"], .latter textarea{ width:600px !important; }
.cke_reset { width: 800px !important; }
.invoice input[type="text"]{ width:600px !important; }
.product {
    background: none repeat scroll 0 0 #F9F9F9;
    border: 1px solid #C3C3C3;
    border-radius: 7px;
    clear: both;
    margin: 30px auto 0;
    padding: 20px;
    width: -moz-max-content;
}
.added_product input[type="text"]{ width:auto !important; }
.added_product th { vertical-align: top; }
